/* G R I D */

.parent {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
  }
  
  header {
    padding: 2rem;
    grid-column: 1 / 4;
  }

  .left-side {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  main {
    grid-column: 2 / 3;
    grid-row: 2 / 4;

  }

  .right-side {
    grid-column: 3 / 4;
    grid-row: 2 / 4;

  }

  footer {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }

/* C O L O R S */
.pink {
    background-color: pink;
}

.blue {
    background-color: rgb(154, 154, 245);
}

.coral {
    background-color: rgb(235, 139, 105);
}

.yellow {
    background-color: rgb(235, 235, 115);
}

.green {
    background-color: rgb(117, 203, 117);
}

